.Navbar {
  max-width: 600px;
  min-width: 400px;
  height: 50px;
  background-color: #D16BEB;
  
  /* alinha itens */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  /* Centraliza navbar*/
  margin-left: auto;
  margin-right: auto;
}